:root {
	--main-bg-color: #ccc;
	--app-bg-color: #eee;

	--header-color: rgba(0, 0, 0, 0.65);

	--console-font: system-ui;
	--console-font-size: 1.2em;
	--conslole-textarea-border-color: rgba(0, 0, 0, 0.2);

	--output-bg-color: #e7e7e7;
	--output-color: #000;

	--code-bg-color: #eee;
	--code-focus-bg-color: #fff;
	--code-color: #000;
}

:root {
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;

	display: flex;
	place-items: center;

	background-color: var(--main-bg-color);
}
